.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 350px;
  box-sizing: border-box;
  overflow: hidden;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background-color: rgb(20, 22, 22);
  overflow: hidden;
}

.header {
  background-color: rgb(43, 47, 49);
  width: 100%;
  margin-bottom: 12px;
  border-radius: 5px;
  user-select: none;
}

h1 {
  color: rgb(40, 160, 60);
  margin-top: 5px;
  margin-bottom: 8px;
  padding-left: 85px;
}

.dl-img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 55px;
  top: 20px;
}

.settings-img {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 15px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.settings-img :not(:hover) {
  transform: rotate(0deg);
}

.settings-img:hover {
  transform: rotate(90deg);
}

.disconnect {
  width: 30px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 325px;
}


.link-input {
  width: 85%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: rgb(35, 38, 40);
  background: rgb(35, 38, 40);
  /* outline: 2px solid rgb(8, 79, 40); */
  box-shadow: 0 0 5px 2px rgba(40, 160, 60, 0.4); 
  border: none;
  color: white;
  margin-right: auto;
  margin-left: 2px;
  transition: box-shadow 0.3s ease;
}

.link-input:focus {
  border:none;
  outline: 2px solid rgba(40, 160, 60, 0.4);
  box-shadow: 0 0 10px 4px rgba(40, 160, 60, 0.4); 
}

.link-input::-moz-focus-inner {
  border: 0;
}

.inline-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0px;
}


.download-btn {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(8, 79, 40);
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 47px;
  transition: background-color 0.2s ease;
}

.download-btn:hover {
  background-color: rgb(18, 109, 50);
}

.download-btn::-moz-focus-inner {
  border: 0; 
}

.result {
  position: absolute;

}

.loading {
  width: 48px;
  height: 48px;
  left: 200px;
  top: 112px;
}

.success,
.failure {
  width: 24px;
  height: 24px;
  left: 212px;
  top: 124px;
}

.format {
  position: absolute;
  left: 10px;
  top: 119px;
  color: white;
  font-size: large;
}

.gdrive {
  position: absolute;
  left: 245px;
  top: 119px;
  color: white;
  font-size: large;
}

.toggle {
  width: 16px;
  height: 16px;
}

.toggle:hover {
  cursor: pointer;
}

.bot-spanner {
  height: 40px;
  width: 100%;
  background-color: rgb(43, 47, 49);
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
}

.menu-btn {
  color: rgb(40, 160, 60);
  font-size: large;
  padding: 0px 8px;
  height: 100%;
  align-items: center;
  display: flex;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.menu-btn.active {
  background-color: green;
}

.menu-toggle {
  transition: transform 0.3s ease;
  margin-right: 8px;
  font-weight: bold;
  color: #cc3232;
  padding: 0px 6px;
  background-color: rgb(45, 45, 45);
  outline: 1px solid black;
  border-radius: 4px;
}

.m3u8.inactive {
  transform: rotate(270deg);
}

.m3u8.active {
  transform: rotate(90deg);
}

.history.inactive {
  transform: rotate(90deg);
}

.history.active {
  transform: rotate(270deg);
}

.clear-open-toggle {
  font-size: medium;
  margin: 0;
  padding:2px 4px;
  width: 46px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}

.clear-open-toggle.open {
  background-color: rgb(45, 45, 45);
}

.clear-open-toggle.clear {
  background-color: rgb(70, 45, 45);
}

.clear-open-toggle.open:hover {
  background-color: rgb(45, 55, 45);
}

.clear-open-toggle.clear:hover {
  background-color: rgb(80, 45, 45);
}

.file-ops {
  color: rgb(40, 160, 60);
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 0px;
  user-select: none;
}

.file-btn {
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0px 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0.9;
  user-select: none;
}

.file-btn:hover {
  opacity: 1;
}

.file-btn-wrapper {
  margin: 0px 5px;
  padding: 4px 0px 2px 0px;
  position: relative;
  background-color: var(--bg-color, transparent);
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.autofill-btn {
  position: absolute;
  cursor: pointer;
  top: 74px;
  left: 321px;
  color: rgb(40, 160, 60);
  /*font-weight: bold;*/
  font-size: large;
  padding: 5px 8px;
  background-color: rgb(43, 47, 49);
  border-radius: 5px;
  transition: background-color 0.3s ease;
  user-select: none;
}

.autofill-btn:hover,
.menu-btn:hover:not(.active) {
  background-color: rgb(45, 55, 45);
}

/* collapsible menus */
.collapsible-menu {
  position: absolute;
  transition: transform 0.3s ease;
  width: 100%;
  top: 70px;
  left: 0;
  background-color: rgb(20, 22, 22);
  height: 82px;
}

.m3u8-menu {
  transform: translateX(-100%);
  overflow: hidden;

}

.history-menu {
  transform: translateX(100%);
  overflow-y: auto;
}

.open {
  transform: translateX(0);
}

/* m3u8 menu */
.m3u8-table,
.history-table {
  margin: 5px 10px;
  border-collapse: collapse;
  width: 300px;
  /* Set the table width */
  table-layout: fixed;
  /* Ensures fixed table layout */
}

.m3u8-table td,
.history-table td {
  outline: 1px solid black;
  padding: 2px 5px;
  vertical-align: middle;
  overflow: hidden;
  /* Hide overflow in td */
}

.m3u8-entry {
  color: rgb(40, 160, 60);
  width: 100%;
  transition: background-color 0.3s ease;
}


.m3u8-entry:hover {
  background-color: rgb(30, 35, 30);
}

.m3u8-timestamp {
  width: 75px;
}

.m3u8-link {
  width: 220px;
}

.m3u8-dl {
  width: 20px;
  text-align: center;
  transition: background-color 0.1s ease;
}

.m3u8-dl.active {
  background-color: green;
}

.m3u8-dl.inactive {
  background-color: transparent;
}

.m3u8-dl.valid-url {
  cursor: pointer;
}

.m3u8-dl img {
  width: 15px;
  height: 15px;
}

/* history table */
.history-entry {
  color: rgb(180, 180, 180);
  width: 100%;
}

.history-timestamp {
  width: 120px;
}

.history-link {
  width: 205px;
}

.history-content button {
  background-color: rgb(134, 50, 50);
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
}

.history-content button:hover {
  background-color: rgb(114, 50, 50);
}

/* Styles for the content inside the cells */
.timestamp-content,
.link-content,
.history-content {
  overflow-x: auto;
  white-space: nowrap;
}

/* Optional: Hide scrollbars */
.timestamp-content::-webkit-scrollbar,
.link-content::-webkit-scrollbar,
.history-content::-webkit-scrollbar {
  display: none;
}

.timestamp-content,
.link-content,
.history-content {
  scrollbar-width: none;
}


/* fancy checkbox styling */
.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-container {
  display: inline-flex;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 5px;
  border: 2px solid rgb(30, 30, 30);
  background-color: rgb(43, 47, 49);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  background-color: white;
  margin-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  position: relative;
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox {
  background-color: #138615;
  /* Active color */
  border-color: #138615;
  border-radius: 3px;
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox::after {
  display: block;
}

/* Change colors of the entire container when the checkbox is active */
.checkbox-container.active {
  background-color: rgb(8, 79, 40);
}

/* Create a tick/checkmark */
.custom-checkbox::after {
  content: '';
  display: none;
  position: absolute;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}