/* light / dark mode colors */

:root {
    /* Dark mode */
    --background-color: rgb(22, 23, 26);
    --container-bg: rgb(31, 32, 35);
    --footer-color: rgba(15,15,15,0.8);

    --header-bg: rgba(20, 20, 20, 0.9);
    --header-outline: rgb(15, 15, 15);

    --text-color: white;
    --text-color-mute: rgb(180, 180, 180);

    --theme-color: black;
    --theme-color-transparent: rgba(0, 0, 0, 0.2);

    --slider-bg: rgb(41, 42, 45);
    --slider-btn: rgb(22, 23, 26);
}

[data-theme='light'] {
    /* light mode */

    --background-color: white;
    --header-bg: rgba(230, 230, 230, 0.95);
    --header-outline: rgb(245, 245, 245);
    --container-bg: rgb(221, 222, 225);
    --footer-color: rgba(240,240,240,0.8);

    --text-color: black;
    --text-color-mute: rgb(75, 75, 75);

    --theme-color: white;
    --theme-color-transparent: rgba(255, 255, 255, 0.2);

    --slider-bg: #ccc;
    --slider-btn: white;
}


[data-highlight='green'] {
    --box-shadow: rgba(40, 160, 60, 0.4);
    --bright-highlight: rgb(40, 160, 60);
    --slider-checked: rgb(75, 185, 44);
    --header-bg-img: url("hex-bg-green.png")
  }
  [data-highlight='green'][data-theme='dark'] {
    --hotkey-active: rgb(25, 115, 24);
    --text-box-outline: rgb(30, 90, 30);
    --container-bg-hover: rgb(31, 47, 35);
  }
  [data-highlight='green'][data-theme='light'] {
    --hotkey-active: rgb(80, 205, 54);
    --text-box-outline: rgb(130, 225, 130);
    --container-bg-hover: rgb(221, 237, 225);
  }
  
  [data-highlight='blue'] {
    --box-shadow: rgba(55, 75, 255, 0.4);
    --bright-highlight: rgb(55, 75, 255);
    --slider-checked: rgb(45, 55, 255);
    --header-bg-img: url("hex-bg-blue.png")
  }
  [data-highlight='blue'][data-theme='dark'] {
    --hotkey-active: rgb(40, 45, 175);
    --text-box-outline: rgb(30, 30, 90);
    --container-bg-hover: rgb(31, 35, 50);
  }
  [data-highlight='blue'][data-theme='light'] {
    --hotkey-active: rgb(110, 136, 240);
    --text-box-outline: rgb(160, 166, 255);
    --container-bg-hover: rgb(221, 225, 240);
  }
  
  [data-highlight='orange'] {
    --bright-highlight: rgb(190, 125, 35);
    --box-shadow: rgba(185, 115, 20, 0.4);
    --slider-checked: rgb(210, 145, 30);
    --header-bg-img: url("hex-bg-orange.png")
  }
  [data-highlight='orange'][data-theme='dark'] {
    --hotkey-active: rgb(160, 112, 40);
    --text-box-outline: rgb(85, 54, 11);
    --container-bg-hover: rgb(47, 42 , 31);
  }
  [data-highlight='orange'][data-theme='light'] {
    --hotkey-active: rgb(215, 161, 105);
    --text-box-outline: rgb(225, 185, 130);
    --container-bg-hover: rgb(241, 232, 222);
  }
  
  [data-highlight='purple'] {
    --bright-highlight: rgb(105, 60, 255);
    --slider-checked: rgb(120, 70, 255);
    --box-shadow: rgba(95, 60, 255, 0.4);
    --header-bg-img: url("hex-bg-purple.png")
  }
  [data-highlight='purple'][data-theme='dark'] {
    --hotkey-active: rgb(90, 30, 175);
    --text-box-outline: rgb(50, 15, 125);
    --container-bg-hover: rgb(36, 30, 52);
  }
  [data-highlight='purple'][data-theme='light'] {
    --hotkey-active: rgb(181, 155, 255);
    --text-box-outline: rgb(200, 165, 255);
    --container-bg-hover: rgb(222, 215, 238);
  }





body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--background-color);
    padding: 0px 20px;
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.header {
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;
    padding: 10px;
    box-shadow: 0 0 10px 5px var(--box-shadow);
    color: var(--bright-highlight);
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-wrap: nowrap;
    background-size: 400px 110px;
    background-image: var(--header-bg-img);
    outline: 2px solid var(--box-shadow);
}

.header-icon {
    margin-right: 8px;
    width: 30px;
    height: 30px;
}

.header-text {
    transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease;
    padding: 5px 15px;
    background-color: var(--header-bg);
    outline: 2px solid var(--header-outline);
    border-radius: 10px;
}

.disclaimer {
    color: var(--text-color);
    text-align: center;
    font-size: large;
    max-width: 780px;
    width: calc(100% - 40px);
    margin:auto;
}

.container {
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    height: auto;
    max-width: 780px;
    width: calc(100% - 40px);
    background-color: var(--container-bg);
    margin: auto;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 15px 20px;
    align-items: start !important;
    margin-bottom: 80px;
    border-radius: 10px;
}

.container.dense {
    grid-auto-flow: dense;
}

.container .label {
    position: absolute;
    top: -34px;
    left: 40px;
    font-size: x-large;
    font-weight: bold;
    color: var(--bright-highlight);

}

.grid-item {
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    background-color: var(--background-color);
    height: 70px;
    border: 1px solid var(--theme-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    color: var(--text-color-mute);
    overflow: hidden;
}

.grid-item.large {
    grid-column: span 2;
}

@media (max-width: 625px) {
    .container {
        grid-template-columns: 1fr;
    }

    .grid-item.large {
        grid-column: span 1;
    }
}

.grid-item:hover {
    box-shadow: 0 0 4px 2px var(--box-shadow);
}

.text-input {
    background-color: var(--container-bg);
    font-size: 1.2rem;
    color: var(--text-color-mute);
    margin: 10px 20px;
    border: none;
    outline: 2px solid var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease, outline 0.3s ease;
    resize: vertical;
    padding: 4px 6px;
}

.highlight-container {
    padding: 8px 16px;
    margin:auto;
    border-radius: 5px;
    margin: 5px;
    background-color: var(--container-bg);
    transition: background-color 0.3s ease;
}

.highlight-wrapper{
    display:flex;
    margin: auto;
    width: fit-content;
}

.highlight-choice {
    background-color: var(--hotkey-active);
    color: var(--background-color);
    padding:5px 10px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    margin: 0px 5px;
    transition: background-color 0.3s ease;
}

.highlight-choice:hover {
    background-color: var(--slider-checked);
}

.text-input:not(.small) {
    width: 100%;
}

.text-input.small {
    width: 50px;
}

.text-input:focus {
    border: none;
    outline: 2px solid var(--text-box-outline);
}

.text-input::-moz-focus-inner {
    border: 0;
}


#playlist-form {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#playlist-input {
    flex: 1;
    margin-right: 0px;
    margin-left: 0px;
    width: calc(100% - 120px);
}

#playlist-btn {
    width: auto;
    font-size: 1.2rem;
    background-color: var(--container-bg);
    color: var(--text-color-mute);
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 4px 2px var(--theme-color-transparent);
}

#playlist-btn:hover {
    background-color: var(--container-bg-hover);
}

/* hotkeys */

.hotkey {
    display: none;
}

.hotkey-text {
    margin-top: 10px;
    padding: 12px 18px;
    border-radius: 5px;
    outline: 1px solid black;
    min-width: 25px;
    min-height: 25px;
    font-weight: 6rem;
    color: var(--text-color-mute);
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--container-bg);
    text-align: center;
    font-weight: bold;
    user-select: none;
}

:not(.hotkey:checked)+.hotkey-text:hover {
    background-color: var(--container-bg-hover);
    color: var(--text-color);
}

.hotkey:checked+.hotkey-text {
    background-color: var(--hotkey-active);
    color: var(--text-color);
}




/* sliders */
.slider {
    transition: background-color 0.3s ease;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 20px;
    border: none;
    outline: none;

}

.slider:before {
    transition: background-color 0.3s ease;
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    height: 31px;
    width: 31px;
    border-radius: 100%;
    background-color: var(--slider-btn);
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked+.slider {
    background-color: var(--slider-checked);
}


input:checked+.slider:before {
    transform: translateX(55px);
}

.switch {
    width: 90px;
    height: 35px;
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.footer {
    background-color: var(--footer-color);
    text-align: center;
    padding:20px;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    transition: background-color 0.3s ease;
}

.footer a {
    color: var(--slider-checked);
}

/* Hide footer when the checkbox is checked */
#close-footer:checked ~ .footer {
    display: none;
}

/* Close button */
.close-btn {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding:2px 6px;
    margin-left:15px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.2s ease, border 0.2s ease;
}

.close-btn:hover {
    color: var(--slider-checked);
    border: 1px solid var(--slider-checked);
}